table {
text-align:center;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
border:solid #000 1px
}

@font-face {
    font-family: 'RabioheadRegular';
    src: url('rabiohead-webfont.eot');
    src: url('rabiohead-webfont.eot?#iefix') format('embedded-opentype'),
         url('rabiohead-webfont.woff') format('woff'),
         url('rabiohead-webfont.ttf') format('truetype'),
         url('rabiohead-webfont.svg#RabioheadRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.larghezzaFissa {
width: 100px
}

.txtArea {
height:100px;
width:800px;
text-align:left;
font-family: RabioheadRegular;
font-size: 30px
}

form {
text-align:center;
margin-left:auto;
margin-right:auto
}

.modifyDifferiti {
text-align:center;
margin-left:auto;
margin-right:auto;
width:400px
}

img {
border-style:none
}

input,select {
text-align:center
}

.boxed {
border:1px solid #940000;
margin-left:20%;
margin-right:20%;
padding-bottom:5px;
padding-left:15px;
padding-right:15px;
margin-bottom:15px
}

td {
text-align:center;
<<<<<<< HEAD
border:solid gray 1px;
padding: 1px;
padding-left: 4px;
padding-right: 4px
}

th {
border:solid gray 1px;
padding: 1px;
padding-left: 4px;
padding-right: 4px
=======
border:solid gray 1px
}

th {
border:solid gray 1px
>>>>>>> 39a61968df6da247ddca23614044ef7907b39375
}

.yellowCell {
background:#ff9;
font-weight:700
}

.cr {
color:#b0b0b0;
font-size:50%;
text-align:right
}
